@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background: rgba(17,17,17,0.96);
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #d6d6d6;

}

/* Navbar */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(214,214,214, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-inner img {
  height: 100%;
  object-fit: cover;
}

.custom-toggler.navbar-toggler {
  border-color: #d6d6d6;
}

.navbar {
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.9) !important;
}

.nav-link,
.dropdown-menu a{
  color: #d6d6d6 !important;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
  background-color: rgba(0,0,0,0) !important;
}

.dropdown-menu {
  margin-top: 1.44rem;
  width: 12rem;
  background: rgba(0, 0, 0, 0.9) !important;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing: .05rem;
}




.dropdown-menu > a {
  color: rgba(255, 255, 255, .5);
  margin-bottom: 1rem;
}


.navbar img {
  height: 4rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  padding-top: .8rem;
}



.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .dropdown-item:hover
{
  color: #e1e1e1;
}

/* Slider */

.carousel-item {
  height: 70vh;
}

.contact-carousel {
  height: 60vh;
}

.impressum-carousel {
  height: 45vh;
}

.carousel-caption, .carousel-caption-categories {
  color: white;
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1, .carousel-caption-categories h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.carousel-caption-categories h1 {
  margin-top: 2.1rem !important;
}

.carousel-caption h3, .carousel-caption-categories h3 {
  color: white;
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
}

/*Layout*/

#layout {
  background-color: #FF7934;
}

#layout h1 {
  color: rgba(30,30,30,0.96);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  padding-top: .8rem;
}

#layout h3 {
  color: rgba(30,30,30,0.96);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
  padding-top: .8rem;
}

/*Contact homepage*/
#contact-homepage {
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(img/homepage/contact-background.jpg);
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: .05rem;
}

/*Contact section*/

footer {
  background: rgba(0,0,0,.9) !important;
  padding: 1rem 0 2rem;
  //margin-top: 1rem;
}



footer img {
  height: 3rem;
  margin: 1.5rem;
}

.madeby {
  font-size: 0.5rem;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #FF7934;
  margin-top: 3rem;
}

footer p {
  margin-top: 1rem;
}

/* Business areas section */
.jumbotron {
  background: rgba(0,0,0,0.9) !important;
  margin-bottom: 0;
  padding:2rem 0 3.5rem;
  border-radius: 0;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

h3.heading {
  color: black;
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1.9rem;
  letter-spacing: .05rem;
}

.heading-underline {
  width: 9rem;
  height: .2rem;
  background: #FF7934;
  margin: 0 auto 2rem;
}

.icons {
  font-size: 0.8rem !important;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*Business areas*/

.fixed-background {
  /*background-color: #b3b3b3;*/
  background-image: url(img/homepage/metal-1212115.jpg);
  padding: 4rem 2rem;
}

/*.dark {*/
/*  background-color: rgba(0, 0, 0, 0.85);*/
/*}*/

.business-area img {
  height: 9rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  /*background: white;*/
}
.categories-link {
  text-decoration: none;
  color: #d6d6d6;
}

.categories-link:hover {
  color: #d6d6d6;
  text-decoration: none;
}


.filter-color{
  filter: invert(75%);
  transition: 0.4s;
}

.hovered {
  filter: invert(100%);
  transform: scale(1.15);
}

.btn-icons {
  width: 28rem;
  /*background: rgba(0, 0, 0, 0.9) !important;*/
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  box-shadow: 5px 5px #FF7934;
}

.btn-icons:hover {
  background: rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {


  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
  }
}



.linkable:link {
  color: #d6d6d6;
}
.linkable {
  color: #d6d6d6;
}

.linkable:hover {
  color: #d6d6d6;
}

.contact-form {
  background: rgba(0, 0, 0, 0) !important;
}

.contact-us {
  /*background-image: url(img/homepage/metal-1212115.jpg);*/
  background-color: #aeaeae;

}

.contact-us .card-form {
  background: rgba(0, 0, 0, 0.9) !important;
}

.btn-contact-form {
  margin-top: 2rem;
  background-color: #FF7934;
}

.card-left-form {
  background: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, 0) !important;;
}

hr.contact-form-line {
  width: 100%;
  border-top: .2rem solid #FF7934;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-form-text {
  color: black !important;
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-us h3 {
  margin-top: 3rem;
  color: black !important;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.google-maps {
  overflow:hidden;
  padding-bottom:40%;
  margin-top: 4rem;
  position:relative;
  height:0;
}

.google-maps iframe{
  padding: 1rem 6rem 2rem;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.text-under-carousel {
  /*background-image: url(img/homepage/metal-1212115.jpg) ;*/
  background-color: #aeaeae;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}


.heading-underline-left {
  width: 9rem;
  height: .2rem;
  background: #FF7934;
  margin-left:0;
  margin-top: 2rem;
}

.text-under-carousel h1 {
  color: black !important;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .05rem;
  line-height: 1.6;
}

.text-under-carousel h2 {
  padding-top: 1.5rem;
  color: black !important;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .05rem;
  line-height: 1.6;
}

.text-under-carousel h3 {
  padding-top: 1.5rem;
  color: black !important;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.6;
}

.text-under-carousel li {
  padding-top: 1.5rem;
  color: black !important;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.1;
}

.footer-notes a {
  color: #d6d6d6;
}

.portrait-photo {
  width: 15rem;
}

.team-row {
  padding-top: 5rem;
}

.italic-x {
  color: #373737;
}


/*Media queries*/

@media(max-width: 767px) {

  .carousel-item {
    height: 50vh;
  }

  .navbar img {
    height: 3rem;
  }

  .carousel-caption h1 {
    font-size: 2.1rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .carousel-caption-categories h1 {
    font-size: 1.5rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .carousel-caption h3 {
    font-size: 1rem;
  }

  #layout h1 {
    color: rgba(30,30,30,0.96);
    font-size: 1.15rem;
    letter-spacing: .1rem;
    padding-top: .8rem;
  }

  #layout h3 {
    color: rgba(30,30,30,0.96);
    font-size: 0.85rem;
    letter-spacing: .1rem;
    padding-top: .8rem;
  }


  .business-area img {
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /*background: white;*/
  }

  .btn-icons {
    width: 17rem;
    /*background: rgba(0, 0, 0, 0.9) !important;*/
    background: rgba(0, 0, 0, 0.9);
  }

  .google-maps {
    overflow:hidden;
    padding-bottom:100%;
    margin-top: 4rem;
    position:relative;
    height:0;
  }

  .google-maps iframe{
    padding: 0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .contact-us h3 {
    font-size: 1.2rem;
  }

  .madeby {
    font-size: 0.3rem;
  }

  .navbar {
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .text-under-carousel h1 {
    font-size: 2.1rem;
  }

}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

.offcanvas-header{ display:none; }

.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }

  .navbar-collapse {
    position: fixed;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.9) !important;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  .dropdown-menu {
    display: block;
    background: rgba(0, 0, 0, 0) !important;
    font-weight: 400;
    font-size: .9rem;
    letter-spacing: .05rem;
    margin-bottom: .8rem;
  }

  .dropdown-menu > a {
    color: rgba(255, 255, 255, .5);
    margin-top: 0;
  }

  .back-to-top {
    visibility: hidden;
  }
}